@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

h1{
    font-family: 'Bebas Neue' , cursive;
    font-size: 55px;
    letter-spacing: 9px;
}

.btn{
    background-color: black;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: white;
    font-size: 15px;
    border-style: none;
}

.btn:hover{
    background-color: #787b7d;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}


.banner{
    content: '';
    background: url("./soumyajithalder.github.io/images/img-1.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    z-index: -1;
}

.nav {
    background-color: #0d3f5c;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 5em;
}

.nav li{
    color: white;
    list-style:none;
    padding: 0.5em;
}

.nav a{
    color: white;
    text-decoration: none;
}

.nav a:hover{
    border-bottom: solid 5px white;    
}


.container{
    max-width: 920px;
    margin: 5em auto;
}

.main{
    background-color: #abdaf5;
    padding: 2em;
    display: flex;  
}

.leftblock{
  padding: 1em;
}

.rightblock{
    background-color: white;
    flex: 0 0 50%;
    max-width: 50%;
}

.text-float{
    width: 100%;
    margin-left: -175px;
}

#spacing1{
    margin-top: 0.5em;
}

#spacing2{
    margin-top: 1em;
}

/*.main{
    background-color: #abdaf5;
    padding: 2em;
}

.main-inner-ctn{
    display: flex;
}

.leftbar{
    background-color: #abdaf5;
    width: 40%;
}

.rightbar{
    background-color: white;
    width: 60%;
}

.main-text{
    width: 100%;
    height: 240px;
    margin-left: 40px;
}*/

/*contents*/

.contents{
    border: solid 12px #5b89a3;
    margin-top: 4em;
}

.main-acc{
   padding: 0.4em; 
    
}

.accordion {
  background-color: #b8cdd9;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 20px;
}

.active, .accordion:hover {
  background-color: #17638f;
    color: white;
}

.panel {
  background-image: url(./soumyajithalder.github.io/images/img-1.jpg);
  color: white;
  padding: 1.5rem;
  display: none;
  overflow: hidden;
} 


/*service*/

.services{
    margin-top: 4em;
    width: 100%;
    padding: 1em;
}

.sidebar{
    background-color: #abdaf5;
    width: 50%;
    margin-top: 10px;
	margin-left: 200px;
    padding: 2em;
}

.img-float{
    background-image: url(./soumyajithalder.github.io/images/img-2.jpg);
    width: 100%;
    height: 240px;
    margin-left: -175px;
}
.btn-float{
    margin-top: 40px;
    margin-left: -75px;
}
